@model API.Models.ViewModels.Users.UsersEditVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Edit User!</h1>
                        </div>
                        @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "user" }))
                        {
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "First name" } })
                                </div>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Last name" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Username" } })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-user", placeholder = "Password" })
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.Roles, "Id", "Name"), new { style = "border-radius: 1rem; width: 100%;" })
                            </div>
                            <input type="submit" value="Save" class="btn btn-primary btn-user btn-block" />
                        }
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
